
{block content}
<div class="row">
    <div class="col-lg-12 pt-5 col-md-12 col-sm-12">
        <div class="content bg-white box-shadow p-64 rounded-8 mt-100 wow fadeInUp"
             style="visibility: visible; animation-name: fadeInUp;">
            {control jsonCreateForm}
        </div>
    </div>
</div>
{/block}